* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Samsung Sans", sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* Main Heading */

.headbackground {
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: 0px 0px 10px 5px wheat;
  border: 5px solid purple;
  border-radius: 25px;
}

.headtext {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-clip: text;
  color: transparent;
  text-align: center;
  padding: 15px;
}

/* Sub Headings */

.suheadbacground {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  color: brown;
  margin: 15px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px rgb(236, 231, 236);
  padding: 5px;
  border-left: 10px solid;
  border-right: 10px solid;
  border-radius: 15px;
}

.subhead {
  color: rgb(3, 3, 92);
}

#trailerstext {
  box-shadow: 0px 0px 20px 5px;
}
.song {
  color: bisque;
  margin-left: 20px;
}

audio {
  width: 100%;
  box-shadow: 5px -5px 5px rgb(181, 231, 72);
  margin-top: 13px;
  margin-bottom: 8px;
  border-radius: 1000px;
}

del {
  background-color: rgb(176, 232, 46);
}

.movietitlebackground {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  margin: 10px;
  border-radius: 15px;
}

ins {
  text-decoration: none;
}

.moviename {
  color: rgb(132, 38, 72);
  padding: 10px;
}

.movieimg {
  margin: 10px;
  border: 1opx solid;
  box-shadow: 0px 0px 15px 5px white;
}

p,
pre {
  border: 2px solid blueviolet;
  border-left: 15px solid blueviolet;
  margin: 1px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px blueviolet;
  padding: 10px;
}
#pushpa {
  margin-bottom: 10px;
}

iframe {
  box-shadow: 0px 0px 10px 5px rgb(203, 238, 146);
  margin: 13px;
}
video {
  box-shadow: 0px 0px 10px 5px rgb(203, 238, 146);
  margin: 13px;
}
